$britht-blue: hsl(220, 98%, 61%);
$check-background: linear-gradient( hsl(192, 100%, 67%), hsl(280, 87%, 65%));
$gradient : linear-gradient(0deg, rgba(87,221,255,1) 0%, rgba(192,88,243,1) 100%);


//dark theme
$light-gray: hsl(0, 0%, 98%);
$light-grayish-blue:hsl(236, 33%, 92%);
$grayish-blue:hsl(233, 11%, 84%);
$dark-grayish-blue:#25273C;
$very-dark-grayish-blue:#181824;
*{
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    color: white;
    
    
}
.darkMode{
    color: white;
    background:$very-dark-grayish-blue;
    input{
        color: white;
    }
    input, .todoInput, .todoList{
        background: $dark-grayish-blue;
    }
    .circle{
        border-color:rgba(255,255,255,0.1);
    }
}
button{
    border: none;
    background: none;
}
input{
    outline: none;
    font-size: 18px;
    color:#BCBED5;
}
body, .header, .todo, .todoList, li, .infoArea{
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
   

}
.todo, .header{
    width: 1440px;
}
.contentWrapper{
    width: 540px;
    height: 100%;
    margin-top: 150px;
    .title{
        display: flex;
        justify-content: space-between;
        margin-bottom: 35px;
        font-weight: 700;
    }
    h1{
        letter-spacing: 15px;
        font-weight: bold;
        font-size: 40px;
        
    }
    .darkMode, .lightMode{
        background: none;
        border: none;
    }
    .todoInput{
        height: 65px;
       
        width: 100%;
        padding-left: 75px;
        box-shadow: 4px 15px 17px 0px rgba(0, 0, 0, 0.25);
    }
    .inputArea{
        position: relative;
       margin-bottom: 23px;
    }
}

.foo, .todo, .header{
    flex-direction: column;
}
.todoInput, .todoList{
    border-radius: 5px;
}

.foo{
    
    flex-direction: column;
    align-self: flex-end;
   
}
.header{
    height: 300px;
    background: url('./assets/bg-desktop-light.jpg')no-repeat center;  
  }
.darkMode{
    .header{
        
        background: url('./assets/bg-desktop-dark.jpg') no-repeat center;
    }
    
}
input, .todoInput, .todoList{
    color: black;
    background: white;
    border:none;
    box-shadow: none;
}
.todoList{
    box-shadow:-2px 40px 40px 0px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    flex-direction: column;
    min-height: 440px;
    ul{
        width: 100%;
        padding: 0;
        list-style-type:none;

    }
    li{

        justify-content: flex-start;
        margin: 0 auto;
        height: 65px;
        border-bottom: 1px solid rgba(255,255,255,0.1);
        position: relative;
        word-break: break-all;
    }

}
 li > .tools{
   position: absolute;
   right: 0;
   display: none;
   margin-right: 17px;
  
}
li:hover .tools{
   display: inline-block;
    
}
footer{
    padding-top: 3px; 
    position: absolute;
    height: 20px;
    margin-bottom: 0;
    bottom: 0;
    width: 100%;
}
.alertInfo{
    font-size: 13px;
}
.hide{
    display: none;
}



.complete, .edit, .delete {
    color: white;
}





.completed {
    text-decoration:line-through; 
    color: GREY;
}
.popup {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 800px;
    border-radius: 5px;
    position: fixed;
}

.circle{
    position: absolute;
    left: 25px;
    top: 20px;
    height: 25px;
  width: 25px;
  border: 1px solid  rgba(0,0,0,0.5);
  border-radius: 50%;
}


// syle dla checkbocha
label{

}
.checkbox {
    display: inline-flex;
    cursor: pointer;
    margin: 0 25px 0 15px;
}

.checkbox > span {
    color: #34495E;
    padding: 0.5rem 0.25rem;
}

.checkbox > input {
    height: 25px;
    width: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 1px solid #34495E;
    border-radius: 15px;
    outline: none;
    transition-duration: 0.3s;
    cursor: pointer;
    &:hover{
        width: 25px;
        height: 25px;
        border: double 1px transparent;
        border-radius: 80px;
        background-image: linear-gradient(#25273C, #25273C ), radial-gradient(circle at top left, rgba(87,221,255,1) ,rgba(192,88,243,1));
        background-origin: border-box;
        background-clip: content-box, border-box;
      }
  }
.checkbox > input:checked {
    background: rgb(87,221,255);
    background: linear-gradient(0deg, rgba(87,221,255,1) 0%, rgba(192,88,243,1) 100%);
}

.checkbox > input:checked + label::before {
    content: "\2713";  
    display: block;
    text-align: center;
    color: white;
    position: absolute;
    left: 0.7rem;
    top: 0.2rem;
   
}

.checkbox > input:active {
    border: 2px solid #34495E;
}
.infoArea{
    justify-content: space-between;
}

.alertInfo{
    display:none;
}

.crossImg{
    background-image: url('./assets/icon-cross.svg');
    width: 18px;
    height: 18px;
}
